.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
    /*
    background-image: url("../video/jumbotron.jpg");
    background-size: cover;

     */
}

body{

}

/* Add a gray background color and some padding to the footer */
footer {
    background-color:#2b2d2f;
    padding:25px;
}

.img-responsive{
    width:100%;
}